html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*h1 {
    font-family: 'Nunito', sans-serif;
}*/


.popup-card {
    width: 60%;
    height: 300px;
    background-color: aquamarine;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: x-large;
    text-align: center;
    word-break: break-all;
}

.card-img-top {
    width: 100%;
    height: 22vw;
    object-fit: cover;
}


.title-image {
    width: 50%;
    margin-bottom: 55px;
    margin-top: 25px;
    /*width: 50%;
    height: 20vw;*/
}

.card-body {
    font-family: 'Caveat', cursive;
    /*font-family: 'Nunito', sans-serif;*/
    background: #fbfafd;
}

.card-heading {
    font-size: 35px;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #423e70;
        border-color: #423e70;
        /*border-color: #5ebdff;*/
        /*border-color: #e9a8a6;*/
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}



button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.modal .card-img-top {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}