@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">F.R.I.E.N.D.S</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row" style="justify-content: center">
    @foreach (var character in Model.Characters)
    {
        <div class="card" style="width: 18rem; margin: 0px 20px 20px 20px; padding: 0px 0px 0px 0px">
          <img src="@character.Image" class="card-img-top" >
          <div class="card-body">
              <h5 class="card-title">@character.Name</h5>
          </div>
        </div>
    }
</div>
