@page
@using FriendsWiki.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @*<h1 class="display-4">F.R.I.E.N.D.S</h1>*@
    @*<div class="img-container" style="height: 18rem; ">*@
        @*<img src="https://hyperpix.net/wp-content/uploads/2020/04/friends-logo-font-free-download.jpg" class="title-image"/>*@
        <img src="https://cdn.freebiesupply.com/logos/large/2x/friends-1-logo-png-transparent.png" class="title-image"/>
        
    @*</div>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

@(await Html.RenderComponentAsync<CharacterList>(RenderMode.ServerPrerendered))


<script src="_framework/blazor.server.js"></script>